### Composer ###
composer.phar
/vendor

### PHP Coding Standards Fixer ###
.phpunit.result.cache
.php_cs.cache

### Node ###
/node_modules

## npm ##
npm-debug.log
yarn-error.log

## Laravel Homestead ##
/.vagrant
Homestead.yaml
Homestead.json

## Laravel env ##
.env
.env.backup

## Docker ##
docker-compose.override.yml

## Common ##
/.idea
/.vscode
/storage/*.key

